Header {
  background-color: rgb(41, 39, 39);
  color: white;
  text-align: center;
  h1 {
    margin-top: 0%;
    margin-bottom: 2%;
    font-size: 5em;
  }

  #nav {
    background-color: rgb(99, 66, 25);
    height: 3em;
    text-align: center;
    margin-bottom: 2%;
  }

  #nav ul li {
    display: inline;
    margin: 2%;
    list-style: none;
  }

  #nav .link {
    font-size: 2em;
    color: white;
    text-decoration: none;
  }

  #nav .link:hover {
    color: rgb(41, 39, 39);
  }
}
